
:root{
  background-color: #e6e6e6;
  background-image: radial-gradient(circle, #00000000 20%, #a4a4a4 100%);
}
.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    font-size: calc(10px + 2vw);
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-weight: 200;
}
h1{
    font-size: calc(6rem + 2vw);
    font-weight: 200;
}
h2{
    font-size: calc(1rem + 2vw);
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 3vh;
}